.title h1 {
    font-family: cursive;
    margin: 25px;
    color: rgb(107, 247, 200);
    background-color: blue;
    
    

}

body {
    background-color: rgb(255, 224, 177);
}
font {
    font-size: xx-large;
}
fieldset {
    color: blue;
    font-style: oblique;
}
mark {
    color: rgb(35, 218, 89);
}
section {
  border-radius: 50px;
  border-color: brown;
}

